CLOUDINARY_API_KEY="YOUR CLOUDINARY API KEY"
CLOUDINARY_API_SECRET="YOUR CLOUDINARY SECRET"
CLOUDINARY_CLOUD_NAME="YOUR CLOUDINARY CLOUD NAME"
GEMINI_API_KEY="YOUR GEMINI API KEY"
GMAIL_APP_PASSWORD="YOUT GMAIL APP PASSWORD"
GMAIL_USER="YOUR GMAIL ADDRESS"
GOOGLE_AI_API_KEY="YOUR GEMINI API KEY"
SUPABASE_PUBLISHABLE_KEY="YOUR SUPABASE PUBLSIHABLE KEY"
SUPABASE_URL="YOUR SUPABASE URL"
UDDOKTAPAY_API_KEY="982d381360a69d419689740d9f2e26ce36fb7a50" // UDDOKRA PAY SANDBOX API KEY YOU NEED TO REPLACE IT WITH REAL API KEY 
VITE_SUPABASE_PROJECT_ID="YOUR SUPABASE PROJECT ID "
VITE_SUPABASE_PUBLISHABLE_KEY="YOUR SUPABASE PUBLSIHABLE KEY"
VITE_SUPABASE_URL="YOUR SUPABASE PROJECT ID "
